@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2f4f4f;
  color: #fcfcfc;
  position: relative;
  padding-bottom: 80px;
  min-height: 100vh;
  text-align: center;
}

nav {
  padding: 20px;
  color: white;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-child {
  margin: 10px 10px;
}

img {
  height: 350px;
  width: 350px;
  display: block;
}

footer {
  text-align: center;
  padding: 2.2rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
